__pycache__
email_cli.egg-info
people
email_venv/
color.png
Michigan Historical Reprint Series-Plane trigonometry, by S.L. Loney.-Scholarly Publishing Office, University of Michigan Library (2005) (1) (1).pdf
test.jpg
.DS_Store
*.cfg
.emailrc
